@{
    ViewData["Title"] = "The Amazing Catalog";
}

<div class="row text-center">
    <div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"]</h2>
            
            <table class="catalog">
                <tr>
                    <td>
                        <img src="/images/jet-shoes.png" alt="Jet-propelled tennis shoes">
                        <p><b>Fleet-Foot</b> <br> Elegant jet-propelled tennis shoes</p>
                        <button type="button" class="btn btn-info">Buy now!</button>
                    </td>
                    <td>
                        <img src="/images/tornado-kit.png" alt="Tornado Kit">
                        <p><b>Tornado Kit</b> <br> Seed your own tornado</p>
                        <button type="button" class="btn btn-info">Buy now!</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="/images/disintegration-pistol.png" alt="Disintegrating Pistol">
                        <p><b>Disintegrating Pistol</b> <br> Make things you don't like just disappear</p>
                        <button type="button" class="btn btn-info">Buy now!</button>
                    </td>
                    <td>
                        <img src="/images/leg-muscle-vitamins.png" alt="Leg Muscle Vitamins">
                        <p><b>Leg Muscle Vitamins</b> <br> Boost your legs to the max</p>
                        <button type="button" class="btn btn-info">Buy now!</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>