@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img src="images/acme-corp.png" alt="Acme Corporation">
    <h3>Where you can find everything.</h3>
</div>
